.main{
  background-image: url("iqiyibackground.png");
  font-family: Arial, Helvetica, sans-serif;
  background-color: #171d25;
  background-size: 118%;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

.title {
  text-align: center;
  color: black;
}

.table {
  border-radius: 10px;
  background-color: white;
  padding: 55px;
  width: 35%;
  margin: auto;
  margin-top: 70px;
}
  
.btnlogin{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.btnpassword {
  width: 100%;
  background-color: white;
  color: green;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid green;
  border-radius: 4px;
  cursor: pointer;
}

.insert {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
}

.text {
  text-align: center;
  color: green;
  cursor: pointer;
}

.link {
  color:gray
}

