.main{
  background-image: url("iqiyibackground.png");
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  color: black;
}

.table {
  border-radius: 10px;
  background-color: white;
  padding: 55px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: auto;
}
  
button[type=Login] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=ForgotPassword] {
  width: 100%;
  background-color: white;
  color: green;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid green;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text],[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
}

.text {
  text-align: center;
  color: green;
}

.link {
  color:gray
}

